<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
	package="com.mob.mobCommon">
	<application>

		<meta-data android:name="Mob-AppKey" android:value="${Mob-AppKey}" />

		<meta-data android:name="Mob-AppSecret" android:value="${Mob-AppSecret}" />

	
	</application>
</manifest>