<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
	package="io.dcloud.uni_modules.ohlPushVivo">
	<application>

		<service android:name="com.vivo.push.sdk.service.CommandClientService" android:exported="true" />
		<activity android:name="com.vivo.push.sdk.LinkProxyClientActivity" android:exported="false"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<receiver android:name="com.ohaola.sdk.push.plugins.vivo.PushVivoReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.vivo.pushclient.action.RECEIVE" />
			</intent-filter>
		</receiver>

		<meta-data android:name="com.vivo.push.api_key" android:value="${Vivo-AppKey}" />
		<meta-data android:name="com.vivo.push.app_id" android:value="${Vivo-AppId}" />


	</application>
</manifest>