<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>MOBAppKey</key>
    <string>3276d3e413040</string>
	<key>MOBAppSecret</key>
	<string>4280a3a6df667cfce37528dec03fd9c3</string>
  </dict>
</plist>
