<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>MOBAppKey</key>
    <string>11d90554ab605e</string>
	<key>MOBAppSecret</key>
	<string>0f9c4a78d4f1aad67180b3b421dc4622</string>
  </dict>
</plist>
